*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header-section{
    background-image: url('../images/donation13.jpg');
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 730px;
    box-sizing: border-box;
    
}
.header-content{
    padding: 210px 280px;
    /* text-align: center; */
    
}
.title-text{
    color: #009270;
    font-size: 65px;
    margin-bottom: 25px;
}
.title-description{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 15px 20px;

    
}
.btn-primary{
    background-color: orange;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}